<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexandre.marple2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditRestrictionActivity"
            android:label="@string/EditRestrictionActivity_Name"
            android:parentActivityName=".activities.RestrictionActivity" />
        <activity
            android:name=".activities.NewRestrictionActivity"
            android:label="@string/NewRestrictionActivity_Name"
            android:parentActivityName=".activities.RestrictionActivity" />
        <activity
            android:name=".activities.RestrictionActivity"
            android:label="@string/RestrictionActivity_Name"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CameraActivity"
            android:label="@string/CameraActivity_Name"
            android:parentActivityName=".activities.MainActivity" />
    </application>


    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>